<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lacus.dao.rtc.mapper.DataSyncJobInstanceMapper">

    <resultMap id="jobInstanceMap" type="com.lacus.dao.rtc.entity.DataSyncJobInstanceEntity">
        <result column="instance_id" property="instanceId"/>
        <result column="job_id" property="jobId"/>
        <result column="application_id" property="applicationId"/>
        <result column="flink_job_id" property="flinkJobId"/>
        <result column="submit_time" property="submitTime"/>
        <result column="finished_time" property="finishedTime"/>
        <result column="savepoint" property="savepoint"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 查询最近一次执行记录的表 -->
    <select id="getLastInstanceByJobId" resultMap="jobInstanceMap">
        select *
        from data_sync_job_instance
        where job_id = #{jobId} and deleted = 0
        and instance_id = (select max(instance_id) from data_sync_job_instance where job_id = #{jobId} and deleted = 0)
    </select>
</mapper>
